/* Homepage styles */
.page-container{
    display: flex;
    flex-direction: column;
    background-color: rgb(62,66,75);
    box-shadow: inset -200px -100px 1000px 100px rgba(0,0,0,0.6);
    /* padding-bottom: 70px; */
}

.page-container > .content {
    display: flex;
    justify-content: space-between;
}

/* Codepen description section styles */
.page-container > .content > .codepen-description{
    width: 600px;
    padding: 50px;
}

.page-container > .content > .codepen-description > #paragraph1 {
    font-size: 1.8rem;
    font-weight: 100;
    margin-top: 0px;
}

.page-container > .content > .codepen-description > #paragraph1 > .bold-text {
    font-weight: 900;
}

.page-container > .content > .codepen-description > #paragraph2 {
    font-size: 1.4rem;
    color: rgb(179, 179, 179);
    font-weight: 600;
}

.page-container > .content > .codepen-description > .buttons{
    display: flex;
    padding-top: 20px;
}
.page-container > .content > .codepen-description > .buttons > .button {
    font-size: 1.8rem;
}

.page-container > .content > .codepen-description > .buttons > #sign-up {
    background-color: rgb(75, 205, 121);
    color: black;
    margin-left: 0px;
}

.page-container > .content > .codepen-description > .buttons > #learn-more {
    background-color: black;
}

/* Codepen Projects section styles */
.page-container > .content > .codepen-projects {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 5px;
}

.page-container > .content > .codepen-projects > .text{
    font-weight: 900;
    font-size: 0.8rem;
    margin: 50px 0px 5px 10px;
}
.page-container > .content > .codepen-projects > .text a{
    color: rgb(120, 218, 253);
    text-decoration: none;
}
 
.page-container > .content > .codepen-projects img {
    width: 100%;
    box-shadow: -20px 0px 20px 0px rgba(0,0,0,0.3);
}

/* Links section styles */
.page-container > .links {
    display: flex;
    height: 50px;
}
.page-container > .links > .link {
    width: 100%;
    background-color: rgb(54, 56, 63);
    border: 1px solid rgb(103, 103, 103);
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

.page-container > .links > .link > .link-text-wrapper {
    font-size: 0.9rem;
    font-weight: 900;
}

.page-container > .links > .link > .link-text-wrapper > .big-text {
    font-size: 1.2rem;
    font-weight: 900;
}

